.container {
  width: 100vw;
  height: 100vh;
  .content {
    .title {
      font-size: 8.8rem;
      letter-spacing: 10px;
      transform: translateX(6px);
    }
    .text {
      font-size: 1.52rem;
      color: var(--cfm-font-gray);
    }
  }
}
