<div class="container">
  <app-header *ngIf="validUrl && currentUrl != '/404'"></app-header>
  <div class="container {{currentUrl == '/404' ? 'page-404' : ''}}" id="app-page">
    <router-outlet></router-outlet>
  </div>
  <app-footer *ngIf="validUrl && currentUrl != '/404'"></app-footer>
  <div *ngIf="!pageLoaded" class="page-load">
    <div class="spinner"></div>
  </div>
  <div *ngIf="pageLoaded && !checkedUrl" class="scroll-to-top">
    <button (click)="scrollToTop($event)">
      <i class="pi pi-angle-up"></i>
    </button>
  </div>
</div>
