.page-header {
  height: var(--cfm-header-height);
  background-color: var(--cfm-primary);
  padding-inline: 3rem;
  & * {
    font-family: 'Roboto', sans-serif;
  }
  .logo {
    height: calc(var(--cfm-header-height) - 30%);
    will-change: contents;
    transition: all 0.15s ease-in-out;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

// 768

@media only screen and (max-width: 768px) {
  .page-header {
    padding-inline: 1.5rem;
    .logo {
      height: calc(var(--cfm-header-height) - 43%);
    }
  }
}

// 640

@media only screen and (max-width: 640px) {
  .page-header {
    padding-inline: 1rem;
    .logo {
      height: calc(var(--cfm-header-height) - 40%);
    }
  }
}

// 480

// @media only screen and (max-width: 480px) {
//   .page-header {
//     .logo {
//       height: calc(var(--cfm-header-height) - 55%);
//     }
//   }
// }
