/* You can add global styles to this file, and also import other style files */
@import "/node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "/node_modules/primeng/resources/primeng.css";
@import "/node_modules/primeflex/primeflex.css";
@import "./assets/theme/theme.css";
@import "./assets/theme/variables.css";

// customer scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: var(--cfm-gray);
}
::-webkit-scrollbar-thumb {
  background: var(--cfm-primary-light);
  border: 2px solid var(--cfm-white);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  // font-family: 'Roboto', sans-serif;
}

// *:not(.home-bg) {
//   position: relative;
//   z-index: 100;
// }

// .p-dropdown {
//   background: var(--cfm-secondary);
// }
