.container .page-content {
  width: 60%;
}

.page-content .title h2 {
  font-family: var(--Mooli);
}

.page-content .text-content {
  .subtitle {
    h3 {
      font-family: var(--InclusiveSans);
      font-size: 2.2rem;
      line-height: 2.4rem;
    }
  }
  .text {
    p {
      font-family: var(--Poppins);
      font-size: 1.04rem;
      color: var(--cfm-font-gray);
    }
  }
}

.text-content .text {
  a {
    color: var(--indigo-400);
    transition: all 0.2s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      bottom: -0.2rem;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: var(--indigo-400);
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      color: var(--indigo-600);
      &::before {
        transform: scaleX(1);
      }
    }
  }
  .citations {
    .list {
      padding-inline-start: 2.4rem;
    }
  }
}

// 1200px

@media only screen and (max-width: 1200px) {
  .container .page-content {
    width: 70%;
  }
}

// 992px

@media only screen and (max-width: 992px) {
  .container .page-content {
    width: 80%;
  }
}

// 768px

@media only screen and (max-width: 768px) {
  .container .page-content {
    width: 90%;
  }
}
