<div class="container">
  <div class="page-content">
    <div class="title">
      <h2>Denúncia Ética</h2>
    </div>
    <div class="text-content">
      <div class="subtitle">
        <h3>Orientações para denúncias</h3>
      </div>
      <div class="text">
        <!-- <p>
          O Conselho Federal de Medicina (CFM) é o órgão responsável por fiscalizar o exercício da medicina em todo o território nacional. Para isso, conta com o apoio dos Conselhos Regionais de Medicina (CRMs), que atuam em cada estado brasileiro.
        </p>
        <p>
          O CFM e os CRMs são autarquias federais, criadas por lei, que têm como missão defender a sociedade e zelar pela ética médica. Para isso, contam com uma estrutura de fiscalização e de julgamento de infrações éticas e profissionais.
        </p>
        <p>
          O CFM e os CRMs não têm competência para julgar questões de natureza civil ou criminal. Para isso, existem os órgãos do Poder Judiciário, como os tribunais de Justiça e os juizados especiais.
        </p> -->
        <p>O CRM-SC disponibiliza este formulário para padronizar e facilitar o preenchimento dos dados para o envio de denúncias éticas contra médicos, hospitais ou instituições prestadoras de serviços médicos.</p>
        <p>Ao clicar em “enviar” , será gerado um documento eletrônico , que será analisado pelo setor da Corregedoria do CRM-SC. Você receberá um número de protocolo por e-mail. Certifique-se de que esta informação esteja corretamente informada.</p>
        <p>AS DENÚNCIAS DEVEM SER ASSINADAS: de forma analógica ou digital. Também será aceito o envio de denúncia fotografada ou digitalizada, previamente assinada, de forma analógica ou digital, sendo indispensável o envio anexo de documento de identificação oficial com foto, no qual conste o mesmo padrão de assinatura.</p>
        <p>Não é necessário autenticar ou reconhecer firma nas denúncias, nem mesmo nas procurações quando há advogado constituído, conforme prevê a Resolução <a href=""><b>CRM-SC nº 210/2021</b></a>:</p>
        <div class="citations">
          <ul class="custom-list">
            <li>
              <p><span>1 -</span> A denúncia deve ser dirigida ao Presidente do Conselho Regional de Medicina do local (Estado) onde ocorreram os fatos a serem apurados. O Conselho Federal de Medicina julga somente RECURSOS.</p>
            </li>
            <li>
              <p><span>2 -</span> As denúncias devem conter:</p>
            </li>
          </ul>
          <ul class="list">
            <li>
              <p>Identificação do denunciante (cópias de: identidade, CPF e comprovante de endereço) incluindo todos os meios eletrônicos disponíveis para contato;</p>
            </li>
            <li>
              <p>Narrativa detalhada dos fatos que, na visão do denunciante, possam conter ilícitos e infrações éticas médicas;</p>
            </li>
            <li>
              <p>Nome da instituição ou instituições onde os fatos denunciados ocorreram;</p>
            </li>
            <li>
              <p>Quando possível, o nome dos profissionais médicos (e não médicos, se for o caso) envolvidos no atendimento;</p>
            </li>
            <li>
              <p>Nome de testemunhas dos fatos, se houver testemunhas.</p>
            </li>
            <li>
              <p>As denúncias devem ser, sempre que possível, documentadas (com cópia de quaisquer comprovantes referentes aos fatos denunciados,);</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="subtitle">
        <h3><b>Saiba como denunciar</b></h3>
      </div>
      <div class="text">
        <p>A denúncia será feita em duas etapas:</p>
        <div class="citations">
          <ul class="custom-list">
            <li>
              <p><span>1ª)</span> Preenchimento das informações e envio do formulário. Ao clicar enviar, o sistema enviará cópia do formulário preenchido para o e-mail informado anteriormente, assim como, o código de acesso para a segunda etapa do processo.</p>
            </li>
            <li>
              <p><span>2ª)</span> É necessário imprimir o documento recebido no e-mail, assinar e fazer upload do mesmo no site do CRM-SC.</p>
            </li>
          </ul>
        </div>
        <p>Para fazer o upload será necessário informar o código da denúncia, recebido no e-mail ou exibido na mensagem de confirmação da 1ª etapa. O upload do arquivo pode ser feito de duas formas, na página inicial da Denúncia, botão 2ª Etapa; ou dentro da aba Fazer Denúncia, clicando no botão em amarelo, localizado no canto inferior direito da página. Após o envio do documento, aparecerá mensagem confirmando o sucesso da operação.</p>
        <p>A denúncia só será validada pelo CRM-SC, após o denunciante efetuar e concluir a segunda etapa do processo, pelo site ou de forma presencial, desde que assinada.</p>
      </div>
    </div>
    <div class="butons grid">
      <p-button label="Iniciar a Denúncia" styleClass="p-button-rounded" (onClick)="startComplaint()"></p-button>
      <p-button label="2ª) Etapa da Denúncia" styleClass="p-button-rounded" (onClick)="nextStageComplaint()"></p-button>
    </div>
  </div>
</div>
