<div class="container flex flex-column align-items-center py-6">
  <div class="page-content flex flex-column align-items-center transition-all transition-duration-300 transition-ease-in-out">
    <div class="title">
      <h2 class="text-4xl font-bold text-primary">Denúncia Ética</h2>
    </div>
    <div class="text-content">
      <div class="subtitle relative flex align-items-center mt-5 mb-3">
        <h3 class="font-semibold text-primary">Orientações para denúncias</h3>
      </div>
      <div class="text text-justify">
        <p class="my-2">O CRM-SC disponibiliza este formulário para padronizar e facilitar o preenchimento dos dados para o envio de denúncias éticas contra médicos, hospitais ou instituições prestadoras de serviços médicos.</p>
        <p class="my-2">Ao clicar em “enviar” , será gerado um documento eletrônico , que será analisado pelo setor da Corregedoria do CRM-SC. Você receberá um número de protocolo por e-mail. Certifique-se de que esta informação esteja corretamente informada.</p>
        <p class="my-2">AS DENÚNCIAS DEVEM SER ASSINADAS: de forma analógica ou digital. Também será aceito o envio de denúncia fotografada ou digitalizada, previamente assinada, de forma analógica ou digital, sendo indispensável o envio anexo de documento de identificação oficial com foto, no qual conste o mesmo padrão de assinatura.</p>
        <p class="my-2">Não é necessário autenticar ou reconhecer firma nas denúncias, nem mesmo nas procurações quando há advogado constituído, conforme prevê a Resolução <a href="" class="relative no-underline"><b>CRM-SC nº 210/2021</b></a>:</p>
        <div class="citations flex flex-column gap-3">
          <ul class="custom-list flex flex-column gap-1 list-none">
            <li class="flex gap-3">
              <p><span class="white-space-nowrap">1 -</span> A denúncia deve ser dirigida ao Presidente do Conselho Regional de Medicina do local (Estado) onde ocorreram os fatos a serem apurados. O Conselho Federal de Medicina julga somente RECURSOS.</p>
            </li>
            <li class="flex gap-3">
              <p><span class="white-space-nowrap">2 -</span> As denúncias devem conter:</p>
            </li>
          </ul>
          <ul class="list flex flex-column gap-1">
            <li>
              <p>Identificação do denunciante (cópias de: identidade, CPF e comprovante de endereço) incluindo todos os meios eletrônicos disponíveis para contato;</p>
            </li>
            <li>
              <p>Narrativa detalhada dos fatos que, na visão do denunciante, possam conter ilícitos e infrações éticas médicas;</p>
            </li>
            <li>
              <p>Nome da instituição ou instituições onde os fatos denunciados ocorreram;</p>
            </li>
            <li>
              <p>Quando possível, o nome dos profissionais médicos (e não médicos, se for o caso) envolvidos no atendimento;</p>
            </li>
            <li>
              <p>Nome de testemunhas dos fatos, se houver testemunhas.</p>
            </li>
            <li>
              <p>As denúncias devem ser, sempre que possível, documentadas (com cópia de quaisquer comprovantes referentes aos fatos denunciados,);</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="subtitle relative flex align-items-center mt-5 mb-3">
        <h3 class="font-semibold text-primary">Saiba como denunciar</h3>
      </div>
      <div class="text text-justify">
        <p class="my-2">A denúncia será feita em duas etapas:</p>
        <div class="citations flex flex-column gap-3">
          <ul class="custom-list flex flex-column gap-1 list-none">
            <li class="flex gap-3">
              <p><span class="white-space-nowrap">1ª)</span> Preenchimento das informações e envio do formulário. Ao clicar enviar, o sistema enviará cópia do formulário preenchido para o e-mail informado anteriormente, assim como, o código de acesso para a segunda etapa do processo.</p>
            </li>
            <li class="flex gap-3">
              <p><span class="white-space-nowrap">2ª)</span> É necessário imprimir o documento recebido no e-mail, assinar e fazer upload do mesmo no site do CRM-SC.</p>
            </li>
          </ul>
        </div>
        <p class="my-2">Para fazer o upload será necessário informar o código da denúncia, recebido no e-mail ou exibido na mensagem de confirmação da 1ª etapa. O upload do arquivo pode ser feito de duas formas, na página inicial da Denúncia, botão 2ª Etapa; ou dentro da aba Fazer Denúncia, clicando no botão em amarelo, localizado no canto inferior direito da página. Após o envio do documento, aparecerá mensagem confirmando o sucesso da operação.</p>
        <p class="my-2">A denúncia só será validada pelo CRM-SC, após o denunciante efetuar e concluir a segunda etapa do processo, pelo site ou de forma presencial, desde que assinada.</p>
      </div>
    </div>
    <div class="butons w-full grid flex-column gap-4 mt-5">
      <p-button label="Iniciar a Denúncia" styleClass="p-button-rounded" (onClick)="startComplaint()"></p-button>
      <p-button label="2ª) Etapa da Denúncia" styleClass="p-button-rounded" (onClick)="nextStageComplaint()"></p-button>
    </div>
  </div>
</div>

<div class="page-load">
  <div class="spinner"></div>
</div>
