:root {

  /* CFM Default Colors */
  
  --cfm-primary: #02986f;
  --cfm-primary-light: #03bd8b;
  --cfm-primary-dark: #00815a;
  --cfm-secondary: #eaeef0;
  --cfm-white: #ffffff;
  --cfm-gray: #f5f5f5;
  --cfm-gray-dark: #6c757d;
  --cfm-black: #000000;

  /* CFM Default Fonts */

  --cfm-font-family: 'Roboto', sans-serif;

  /* CFM Default Fonts Colors */
  
  --cfm-font-gray: #535353;

  --cfm-header-bg-color: var(--cfm-primary);

  --cfm-footer-bg-color: var(--cfm-primary);

  /* CFM Default Sizes */

  --cfm-header-height: 120px;

  --cfm-footer-height: 100px;
  
}
