:root {

  /* CFM Default Colors */
  
  --cfm-primary: #02986f;
  --cfm-primary-light: #03bd8b;
  --cfm-primary-dark: #00815a;
  --cfm-secondary: #f5f5f5;
  --cfm-white: #ffffff;
  --cfm-gray: #f5f5f5;
  --cfm-black: #000000;

  --cfm-navbar-background-color: var(--cfm-primary);

  /* CFM Default Sizes */

  --cfm-navbar-height: 120px;
  
}
