<footer class="footer">
  <div class="container">
    <div class="grid">
      <div class="col-6">
        <div class="logo">
          <img src="../../../../assets/images/logos/br-footer.png" alt="Logo">
        </div>
      </div>
      <div class="col-6">
        <div class="social">
          <a href="https://www.facebook.com/conselhofederaldemedicina" target="_blank">
            <i class="pi pi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/medicina_cfm/" target="_blank">
            <i class="pi pi-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/company/conselhofederaldemedicina/" target="_blank">
            <i class="pi pi-linkedin"></i>
          </a>
          <a href="https://twitter.com/medicina_cfm" target="_blank">
            <i class="pi pi-twitter"></i>
          </a>
          <a href="https://www.youtube.com/user/cfmedicina" target="_blank">
            <i class="pi pi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
