<div class="container relative flex flex-column align-items-center justify-content-center">
  <div class="page-content flex justify-content-center">
    <div class="grid">
      <div class="col">
        <div class="content flex flex-column align-items-center justify-content-center gap-1">
          <div class="title">
            <h1>Denúncia</h1>
          </div>
          <div class="selection p-fluid">
            <div class="selection-title text-center text-base">
              <h3>Selecione seu estado</h3>
            </div>
            <div class="options mt-3">
              <p-dropdown class="p-element p-inputwrapper ng-valid ng-touched p-inputwrapper-filled ng-dirty" [options]="ufs" [(ngModel)]="target" optionLabel="name" [filter]="true" filterBy="name" (onChange)="changeUf($event)"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-bg absolute top-0 left-0 w-full h-full">
    <img class=" w-full h-full" src="../../../assets/images/bg-home.jpg" alt="">
  </div>
</div>

<div class="page-load">
  <div class="spinner"></div>
</div>
